@media (max-width: 600px) {
	.main {
		
	}

	.slider {
		background-color: rgb(253, 253, 253);
		display: flex;
		position: fixed;
		right: 0;
		height: 100vh;
		width: 80vw;
		box-shadow: 0 0 2px rgb(60, 60, 60, .6);
		z-index: 1;
		top: 0;
		padding-top: 60px;
	}

	.slider-exit {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 1.28rem;
	}

	.slider-cnt {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	.slider-cnt > div {
		padding: 12px 28px;
		font-size: .88rem;
		font-weight: 500;
		border-bottom: 1px solid rgb(120, 120, 120, .2);
	}	

	.slider-cnt > div > a {
		color: rgb(48, 48, 48);
		text-decoration: none;
	}

	.slider-cnt > div:last-child {
		border-bottom: none;
	}

	.nav {
		height: 60px;
		align-items: center;
	}

	.logo {
		font-size: 1.2rem;
	}

	.nav-items {
		gap: 12px;
		font-size: .6rem;
		display: none;
	}

	.nav-menu {
		display: flex;
		align-items: center;
	}

	.banner {
		flex-direction: column;
		gap: 28px;
	}

	.banner-left, .banner-right {
		width: 100%;
		align-items: center;
		gap: 16px;
	}

	.banner-left > div:first-child {
		font-size: 2.8rem;
		text-align: center;
		line-height: 3.6rem;
	}

	.line {
		display: none;
	}

	.achivements {
		flex-direction: column;
		gap: 28px;
		padding-bottom: 80px;
	}

	.achivements-cnt {
		width: 100%;
	}

	.biography-sect, .journey  {
		flex-direction: column;
		gap: 12px;
	}

	.biography-sect-img, .journey-img {
		width: 100%;
	}

	.biography-sect-cnt, .journey-cnt {
		width: 100%;
		gap: 12px;
	}

	.journey {
		flex-direction: column-reverse;
	}

	.experience-txt {
		width: 100%;
	}

	.carousel-main {
		height: 220px;
		width: 80%;
	}

	.carousel-main > img {
		min-width: 100%;
		top: 0;
		min-height: 100%;
	}

	.carousel-arrow {
		height: 220px;
	}

	.contact {
		height: 260px;
	}

	.contact > div:nth-child(2) {
		font-size: 2rem;
		text-align: center;
		font-weight: 600;
	}

	.contact > div:last-child {
		width: 48px;
		height: 48px;
	}

	.footer-items {
		font-size: .62rem;
		width: 100%;
		padding: 0 8%;
		justify-content: space-between;
	}
}