.main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 6%;
	width: 100%;
	height: 72px;
}

.logo {
	font-family: Meddon;
	font-weight: 600;
	font-size: 1.8rem;
}

.nav-menu {
	display: none;
}

.nav-items {
	display: flex;
	gap: 2rem;
	font-size: .72rem;
	font-weight: 600;
}

.nav-items > span {
	cursor: pointer;
}

.banner {
	width: 100%;
	padding: 40px 6%;
	padding-top: 56px;
	display: flex;
	justify-content: space-between;
}

.banner-left {
	width: 44%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.banner-left > div:first-child {
	font-size: 3.6rem;
	font-family: Rye;
	font-weight: 400;
}

.banner-left > div:nth-child(2) {
	font-size: .8rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 12px;
}

.line {
	width: 40px;
	height: 1px;
	background-color: rgb(48, 48, 48);
}

.banner-left > button {
	width: fit-content;
	padding: 8px 20px;
	margin-top: 12px;
	border: none;
	font-size: .66rem;
	font-weight: 500;
	font-family: Poppins;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--primary);
	color: white;
}

.banner-right {
	width: 50%;
	overflow: hidden;
}

.banner-right > img {
	width: 140%;
	position: relative;
	left: -10%;
	filter: grayscale(80%) hue-rotate( 290deg);
	mask-image: linear-gradient(white 60%, transparent);
	pointer-events: none;
}

.achivements {
	width: 100%;
	padding: 32px 6%;
	display: flex;
	justify-content: space-between;
}

.achivements-cnt {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;
	gap: 6px;
}

.achivements-cnt > span:first-child {
	font-size: 1.6rem;
	font-weight: 700;
}

.achivements-cnt > span:last-child {
	font-size: .8rem;
	font-weight: 600;
	text-align: center;
}

.introduction {
	width: 100%;
	height: fit-content;
	background-color: rgb(28, 28, 28);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
	color: white;
	gap: 12px;
}

.introduction > span:first-child {
	color: var(--primary);
	font-weight: 700;
	font-size: 1.48rem;
}

.introduction-details {
	font-size: .8rem;
	width: 66%;
	text-align: center;
}

.biography-sect, .journey {
	width: 100%;
	padding: 40px 6%;
	display: flex;
	justify-content: space-between;
}

.biography-sect-img, .journey-img {
	width: 40%;
	max-height: 240px;
	overflow: hidden;
}

.biography-sect-img > img {
	width: 100%;
	pointer-events: none;
}

.biography-sect-cnt, .journey-cnt {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-top: 12px;
}

.biography-sect-cnt > span:first-child, .journey-cnt > span:first-child {
	font-size: 1.48rem;
	font-weight: 700;
}

.biography-sect-cnt > div:nth-child(2), .journey-cnt > div:nth-child(2) {
	font-size: .8rem;
	font-weight: 500;
}